{% extends "layout.html" %}

{% block title %}
<title>Project Awal</title>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
  <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active  ">
        <img class="w-100" src="static/img/carousel-1 okwe.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          style="position: absolute; top: 20%; left: 35%; transform: translate(-20%, -20%);">
          <div class="p-3 " style="max-width: 700px;">
            <h1 class="display-3 text-white mb-4 fw-bold ">Rehatkan Diri Anda di Surga Kami</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 ">Our Rooms</a>
            <a href="" class="btn btn-light py-md-3 px-md-5 ">Book A Room</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="static/img/carousel-2.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          style="position: absolute; top: 20%; left: 35%; transform: translate(-20%, -20%);">
          <div class="p-3 " style="max-width: 700px;">
            <h1 class="display-3 text-white mb-4 bold fw-bold ">Rehatkan Diri Anda di Surga Kami</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 ">Our Rooms</a>
            <a href="" class="btn btn-light py-md-3 px-md-5 ">Book A Room</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
</div>



<!-- booking -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
  <div class="container">
    <div class="bg-white shadow" style="padding: 35px;">
      <div class="row g-2">
        <div class="col-md-10">
          <div class="row g-2">
            <div class="col-md-3">
              <div class="date" id="date1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" placeholder="Check in" data-target="#date1"
                  data-toggle="datetimepicker">
              </div>
            </div>
            <div class="col-md-3">
              <div class="date" id="date2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" placeholder="Check out"
                  data-target="#date2" data-toggle="datetimepicker">
              </div>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option selected="">Adult</option>
                <option value="1">Adult 1</option>
                <option value="2">Adult 2</option>
                <option value="3">Adult 3</option>
              </select>
            </div>
            <div class="col-md-3">
              <select class="form-select">
                <option selected="">Child</option>
                <option value="1">Child 1</option>
                <option value="2">Child 2</option>
                <option value="3">Child 3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary w-100">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- booking end -->
<!-- about -->
<div class="container-xxl py-5" id="about">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <h4 class="section-title text-start text-primary text-uppercase">About Us</h4>
        <h1 class="display-4 mb-4 fw-bold">Welcome to <span class="text-primary text-uppercase">HOETH</span>
        </h1>
        <p class="mb-4">Kami adalah tujuan peristirahatan eksklusif yang menawarkan layanan istimewa dan akomodasi
          berkelas. Nikmati pengalaman luar biasa bersama kami.</p>
        <div class="row g-3 pb-4">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                <h2 class="mb-1">60</h2>
                <p class="mb-0">Rooms</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                <h2 class="mb-1">94</h2>
                <p class="mb-0">Staffs</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
            <div class="border rounded p-1">
              <div class="border rounded text-center p-4">
                <i class="fa fa-users fa-2x text-primary mb-2"></i>
                <h2 class="mb-1">700+</h2>
                <p class="mb-0">Clients</p>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Explore More</a>
      </div>
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-75" src="static/img/about-1.webp"
              style="margin-top: 25%; visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-99" src="static/img/about-2.avif"
              style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid rounded w-50" src="static/img/about-3.jpg"
              style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
          </div>
          <div class="col-6 text-start">
            <img class="img-fluid rounded w-75" src="static/img/about-4.webp"
              style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about end -->

<!-- room -->

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h4 class="section-title text-center text-primary text-uppercase">Our Rooms</h4>
      <!-- <h4 class="section-title text-start text-primary text-uppercase">About Us</h4> -->
      <!-- <h1 class="display-4 mb-4 fw-bold">Welcome to <span class="text-primary text-uppercase">HOETH</span>
      </h1> -->
      <h1 class="display-5 mb-4 fw-bold">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="room-item shadow rounded overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/room1.jpg" alt="">
            <small
              class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">IDR
              900.000/night</small>
          </div>
          <div class="p-4 mt-2">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Honeymoon</h5>
              <div class="ps-2">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
              </div>
            </div>
            <div class="d-flex mb-3">
              <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
              <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
              <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
            </div>
            <p class="text-body mb-3">Kamar single yang nyaman dengan fasilitas modern dan kenyamanan maksimal untuk
              tamu individu. <br></br> </p>
            <div class="d-flex justify-content-between">
              <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
              <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="room-item shadow rounded overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/room2.jpg" alt="">
            <small
              class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">IDR
              1.000.000/night</small>
          </div>
          <div class="p-4 mt-2">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Family Room</h5>
              <div class="ps-2">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
              </div>
            </div>
            <div class="d-flex mb-3">
              <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>4 Bed</small>
              <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
              <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
            </div>
            <p class="text-body mb-3">Kamar luas dengan empat ranjang, cocok untuk keluarga besar atau kelompok
              wisatawan. Fasilitas mewah dan ruang bersantai yang nyaman. <br></br> </p>
            <div class="d-flex justify-content-between">
              <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
              <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s"
        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
        <div class="room-item shadow rounded overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/room3.jpg" alt="">
            <small
              class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">IDR
              1.500.000/night</small>
          </div>
          <div class="p-4 mt-2">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Big Family</h5>
              <div class="ps-2">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
              </div>
            </div>
            <div class="d-flex mb-3">
              <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>6 Bed</small>
              <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>3 Bath</small>
              <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
            </div>
            <p class="text-body mb-3">Ruang luas dengan enam ranjang, dirancang khusus untuk kelompok yang mencari
              kenyamanan dan privasi. Ideal untuk perjalanan bersama teman-teman atau acara kelompok.</p>
            <div class="d-flex justify-content-between">
              <a class="btn btn-sm btn-primary rounded py-2 px-4" href="">View Detail</a>
              <a class="btn btn-sm btn-dark rounded py-2 px-4" href="">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- room end -->

<!-- Services -->

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h4 class="section-title text-center text-primary text-uppercase">Our Services</h4>
      <h1 class="display-5 mb-4 fw-bold">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-utensils fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Restaurant Reservations</h5>
          <p class="card-text text-center">Provide a feature for guests to book a table at your hotel's restaurant,
            including the option to choose the reservation date and time.
            <br><br>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-hotel fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Room Booking</h5>
          <p class="card-text text-center">Allow guests to search, select, and book hotel rooms based on their
            preferences, such as room type, check-in dates, and the number of guests.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-clock fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">24-Hour Room Service</h5>
          <p class="card-text text-center">Offer 24-hour room service, which includes ordering food, drinks, or other
            services to be delivered directly to the guest's room. <br><br> </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-spa fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Spa Services</h5>
          <p class="card-text text-center">Provide information about the spa services offered at your hotel, as well as
            the ability to book spa treatments such as massages, facials, or other body treatments.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-taxi fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Transportation</h5>
          <p class="card-text text-center">Offer information about transportation services available at the hotel, such
            as airport shuttles, transfers, or car rentals, along with options for booking transportation as needed.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-4">
        <div class="service-icon bg-transparent border rounded p-1  mx-auto">
          <div class=" border rounded d-flex align-items-center justify-content-center">
            <i class="fa fa-umbrella-beach fa-3x text-primary p-4"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">Tourist Activities</h5>
          <p class="card-text text-center">Present a list of tourist activities or tours available in the hotel's
            vicinity, along with information about prices, operating hours, and booking options.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Services end -->

<!-- testi -->
<section class="testimonials"
  style="background-image: url('static/img/carousel-1 okwe.jpg');margin: 100px 0px 100px 0px;">
  <div class="container">
    <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner py-5 px-5 ">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <div class="testimonial-item position-relative bg-white rounded overflow-hidden p-4">
                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet.
                  Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                <div class="d-flex align-items-center">
                  <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg"
                    style="width: 45px; height: 45px;">
                  <div class="ps-3">
                    <h6 class="fw-bold mb-1">Client Name</h6>
                    <small>Profession</small>
                  </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial-item position-relative bg-white rounded overflow-hidden p-4">
                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet.
                  Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                <div class="d-flex align-items-center">
                  <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg"
                    style="width: 45px; height: 45px;">
                  <div class="ps-3">
                    <h6 class="fw-bold mb-1">Client Name</h6>
                    <small>Profession</small>
                  </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-6">
              <div class="testimonial-item position-relative bg-white rounded overflow-hidden p-4">
                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet.
                  Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                <div class="d-flex align-items-center">
                  <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg"
                    style="width: 45px; height: 45px;">
                  <div class="ps-3">
                    <h6 class="fw-bold mb-1">Client Name</h6>
                    <small>Profession</small>
                  </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial-item position-relative bg-white rounded overflow-hidden p-4">
                <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet.
                  Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                <div class="d-flex align-items-center">
                  <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg"
                    style="width: 45px; height: 45px;">
                  <div class="ps-3">
                    <h6 class="fw-bold mb-1">Client Name</h6>
                    <small>Profession</small>
                  </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselTestimonials" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- testi end -->



<!-- our team -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h6 class="section-title text-center text-primary text-uppercase">Our Team</h6>
      <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Staffs</span></h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/anggota1.png" alt="">
            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/anggota2.jpg" alt="">
            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.5s"
        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/anggota3.jpg" alt="">
            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.7s"
        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/anggota4.jpg" alt="">
            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.7s"
        style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
        <div class="rounded shadow overflow-hidden">
          <div class="position-relative">
            <img class="img-fluid" src="static/img/anggota5.jpg" alt="">
            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4 mt-3">
            <h5 class="fw-bold mb-0">Full Name</h5>
            <small>Designation</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our team end -->

<!-- subscribe -->

<div class="row justify-content-center">
  <div class="col-lg-10 border rounded p-1">
    <div class="border rounded text-center p-1">
      <div class="bg-white rounded text-center p-5">
        <h4 class="mb-4">Subscribe Our <span class="text-primary text-uppercase">Newsletter</span></h4>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
          <button type="button"
            class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- subscribe end -->

<!-- footer -->
<div class="container-fluid bg-dark text-light footer " data-wow-delay="0.1s"
  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
  <div class="container pb-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-4" style="margin-top: 150px;">
        <div class="bg-primary rounded p-4">
          <a href="index.html">
            <h1 class="text-white text-uppercase mb-3">HOETH</h1>
          </a>
          <p class="text-white mb-0">
            Download <a class="text-dark fw-medium" href="\"></a>, build a professional website for your hotel business
            and grab the attention of new
            visitors upon your site’s launch.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3" style="margin-top: 150px;">
        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Jombor, Sleman, Yogyakarta</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>pemrograman@web.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12" style="margin-top: 150px;">
        <div class="row gy-5 g-4">
          <div class="col-md-6">
            <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">About Us</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Contact Us</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Privacy Policy</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Terms &amp; Condition</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Support</a>
          </div>
          <div class="col-md-6">
            <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Food &amp; Restaurant</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Spa &amp; Fitness</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Sports &amp; Gaming</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">Event &amp; Party</a>
            <a class="btn btn-link link-underline link-underline-opacity-0 text-white" href="">GYM &amp; Yoga</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          © <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer end -->
{% endblock %}